body {
  background-color: ghostwhite;
}

h1 {
  text-align: center;
  color: #21130d;
  font-size: 24px;
  /*font-family: 'Crimson Text', serif;*/
}

h2 {
  text-align: left;
  color: #21130d;
  font-size: 24px;
  margin-bottom: 0px;
  font-style: italic;
  /*   font-family: 'Crimson Text', serif;*/
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
}

.fixed_header {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid gray;
  background-color: ghostwhite;
}

.fixed_header th {
  position: sticky;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 18px;
  background-color: ghostwhite;
  color: #21130d;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid gray;
  /*   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}

.fixed_header td {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  /*   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-size: 18px;
}
/*    
    .selected {
    color: white;
    }
*/
.fixed_header tr:nth-child(odd) {
  background-color: ghostwhite;
}

.fixed_header tr:nth-child(even) {
  background-color: #ccc;
}

.black {
  color: black;
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 600px;
  width: 800px;
  background-color: ghostwhite;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.myButton {
  border: none;
  padding: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  border: solid black;
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.modal {
  overflow-y: auto;
  max-height: 400px;
  &:hover {
    cursor: arrow;
  }
}

.modal div {
  box-shadow: 0 0 12px black;
}

.modal table {
  border-collapse: collapse;
  width: 100%;
  background-color: ghostwhite;
  border: solid black;
}

.modal th {
  position: sticky;
  top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  background-color: ghostwhite;
  color: #21130d;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid gray;
  background-color: #ccc;
  /*   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}

.modal td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  /*   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-size: 18px;
}

p {
  text-align: left;
  font-size: 18px;
  line-height: 3px;
}

.center {
  text-align: center;
}

summary {
  font-weight: bold;
  font-size: 20px;
}

.detail {
  font-size: 18px;
  border: solid black;
}

.cells {
  vertical-align: top;
  border: solid black;
}
